@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CourseModel>

<div class="text-center">
    <h1 class="display-4">Select course</h1>
    @foreach (var course in Model)
    {
        <a href="#"><h1>@course.Name</h1></a>

    }

</div>

